<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="menuid" style="height: 50px;">
    <!--底部菜单栏-->
    <div class="menu">
        <!--标签-->
        <div class="text-center menu-item menu-item-selected" onclick="location.href='/'">
            <!--图标-->
            <span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 18px;"></span><br />
            <!--文字说明-->
            <p>首页</p>
        </div>

        <!--标签-->
        <div class="text-center menu-item" onclick="location.href='/cart/selectUI'">
            <!--图标-->
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 18px;"></span><br />
            <!--文字说明-->
            <p>选号</p>
        </div>

        <!--标签-->
        <div class="text-center menu-item"  onclick="location.href='/user/myUI'">
            <!--图标-->
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 18px;"></span><br />
            <!--文字说明-->
            <p>个人中心</p>
        </div>
    </div>

</div>

</body>
</html>