<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title></title>

	<!--导入bootstrap.css   -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<!--注意：导入jquery.js-->
	<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
	<!--导入bootstrap.js-->
	<script type="text/javascript" src="/js/bootstrap.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/lottery.css" />
</head>


	<body>
		<div class="container-fluid">
			<!--搭建一个标题栏-->
			<div class="row ">
				<div class="col-xs-12 title">
					<!--返回的按钮-->
					<span style="float: left;" onclick="javascript:history.back();">&lt;返回</span> 订单列表
				</div>
			</div>


			<!--表示某个订单-->
			<div th:each="order:${oders}" style="margin-top: 20px;">
				<div style="background-color: gainsboro;margin-left: -15px;margin-right: -15px;padding-left: 15px;">
					<div class="row">
						<div class="col-xs-4" th:text="|第${order.getOrderItems().get(0).code}期|">第2018017期</div>
						<div class="col-xs-4" th:text="${order.getCreateTime()}">2018-01-17</div>
						<div class="col-xs-4" th:text="|金额:${order.getTotal()}元|">金额:6元</div>
					</div>
					<div class="row">
						<div class="col-xs-12" th:text="|订单编号:${order.oid}|">订单编号:20180174123413241432</div>
					</div>
					<div class="row">
						<!--0 未付款, 1:待开奖, 2:已中奖, 3:已兑奖, 4:未中奖-->
						<div th:switch="${order.state}">
							<div class="col-xs-12" th:case="0">订单状态:未付款</div>
							<div class="col-xs-12" th:case="1">订单状态:待开奖</div>
							<div class="col-xs-12" th:case="2">订单状态:已中奖</div>
							<div class="col-xs-12" th:case="3">订单状态:已兑奖</div>
							<div class="col-xs-12" th:case="4">订单状态:未中奖</div>
						</div>

					</div>
				</div>

				<div>
					<!--订单项-->
					<div th:each="orderItem : ${order.getOrderItems()}" class="row" style="border:1px solid gainsboro;padding-top: 10px;padding-bottom: 10px;">
						<!--左边删除按钮-->
						<div class="col-xs-1" style="padding-top: 24px;padding-left: 14px;">
						</div>

						<!--中间彩票内容-->
						<div class="col-xs-10" style="padding-right: 0px;">
							<div>
								<div class="ball-item ball-item-red" th:text="${orderItem.red.split(',')[0]}">02</div>
								<div class="ball-item ball-item-red" th:text="${orderItem.red.split(',')[1]}">12</div>
								<div class="ball-item ball-item-red" th:text="${orderItem.red.split(',')[2]}">23</div>
								<div class="ball-item ball-item-red" th:text="${orderItem.red.split(',')[3]}">25</div>
								<div class="ball-item ball-item-red" th:text="${orderItem.red.split(',')[4]}">28</div>
								<div class="ball-item ball-item-red" th:text="${orderItem.red.split(',')[5]}">32</div>
								<div class="ball-item ball-item-blue" th:text="${orderItem.blue}">13</div>
							</div>
							<div style="color: darkgray;margin-top: 10px;" th:text="|单式${orderItem.count}注 ${orderItem.subtotal}元|">单式1注 2元</div>
						</div>
						<!--右边小箭头-->
						<div class="col-xs-1" style="padding-top: 24px;padding-left: 0px;">
						</div>
					</div>

				</div>
			</div>



		</div>
	</body>

</html>