<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>

		<!--导入bootstrap.css-->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<!--注意：导入jquery.js-->
		<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
		<!--导入bootstrap.js-->
		<script type="text/javascript" src="/js/bootstrap.js"></script>

		<meta name="viewport" content="/width=device-width, initial-scale=1">
		<!--导入css样式-->
		<link rel="stylesheet" href="/css/lottery.css" />
	</head>

	<body>
		<!--定义容器-->
		<div class="container-fluid">
			<!--标题栏部分-->
			<div class="row">
				<div class="col-xs-12 title">
					<span style="float: left;" onclick="location.href='02-首页页面.html'">&lt;返回</span>
					注册
				</div>
			</div>

			<!--注册部分的结构-->
			<div class="row">
				<!--左边空格-->
				<div class="col-xs-1"></div>

				<!--中间内容-->
				<div class="col-xs-10">
					<div class="row" style="margin-top: 30px;">
						<div class="col-xs-6 text-center" onclick="location.href='login.html'">登录</div>
						<div class="col-xs-6 text-center" style="color: green;">注册</div>
					</div>

					<!--水平分割线-->
					<hr style="border: 2px solid lightgray;" />

					<!--表单输入项-->
					<form action="/user/register" method="post">
						<div class="form-group">
							<input name="mobile" type="text" class="form-control"  placeholder="请输入手机号码...">
						</div>
						<div class="form-group">
							<input name="password" type="password" class="form-control" placeholder="请输入密码...">
						</div>

						<div class="form-group">
							<input name="username" type="text" class="form-control" placeholder="请输入姓名...">
						</div>

                        <script>
                            function send() {
                              var mobile = $("input[name='mobile']").val()
                                $.get("/user/sendSms",{'mobile':mobile},function (result) {
                                    console.log(result)
                                })
                            }
                        </script>
						<!--验证码-->
						<div class="form-group">
							<div class="row">
								<div class="col-xs-8">
									<input name="code" type="text" class="form-control" placeholder="验证码...">
								</div>
								<div class="col-xs-4">
									<button type="button" onclick="send()" class="btn btn-default">发送</button>
								</div>
							</div>
						</div>
						<div th:text="${mus}" style="color: crimson">

                        </div>
						<!--立即注册-->
						<button type="submit" class="btn btn-success form-control">立即注册</button>
						
					</form>
					
					
					<!--已有账号去登录-->
					<div style="margin-top: 50px;">
						已有账号?&nbsp; | &nbsp;  <span style="color: green;" onclick="location.href='login.html'">去登录</span>
					</div>
				</div>
				<!--右边内容-->
				<div class="col-xs-1"></div>
				
			</div>
	
	
	
		</div>
	</body>

</html>